<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  <app-input
    inputType="text"
    label="Username"
    [control]="authForm.get('username')"
  ></app-input>
  <app-input
    inputType="password"
    label="Password"
    [control]="authForm.get('password')"
  ></app-input>
  <app-input
    inputType="password"
    label="Password Confirmation"
    [control]="authForm.get('passwordConfirmation')"
  ></app-input>

  <button class="ui submit button primary">
    Submit
  </button>

  {{ authForm.errors | json }}
</form>
