<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">Angular Email</a>

    <div class="right menu">
      <a class="ui item" routerLink="/inbox" routerLinkActive="active">
        Inbox
      </a>
      <a class="ui item" routerLink="/signout" routerLinkActive="active">
        Sign Out
      </a>
      <a class="ui item" routerLink="/" routerLinkActive="active">
        Sign In
      </a>
      <a class="ui item" routerLink="/signup" routerLinkActive="active">
        Sign Up
      </a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
