<div class="container">
  <form #emailForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">eMail</label>
      <input
        class="input"
        type="email"
        pattern=".+@.+\..+"
        required
        name="email"
        [(ngModel)]="email"
        #emailControl="ngModel"
      />

      <ng-container *ngIf="emailControl.invalid && emailControl.touched">
        <div class="help is-danger" *ngIf="emailControl.errors.required">
          Please enter eMail
        </div>
        <div class="help is-danger" *ngIf="emailControl.errors.pattern">
          Please enter valid eMail
        </div>
      </ng-container>
    </div>

    <button class="button is-primary" [disabled]="emailForm.invalid">
      Submit
    </button>
  </form>

  <hr />
  <div>
    Valid?
    {{ emailForm.valid }}
  </div>
  <div>
    Values:
    {{ emailForm.value | json }}
  </div>
</div>
